body{
	font-family: 'Open Sans', sans-serif;
}

header{
	height: 10%;
	width: 100%;
	background-color: #70edc3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

#logo{
	width: 50%;
	height: 100%;
	float: left;
	text-align: left;
	color: #433f3f;	

}

#logo span{
	margin-left: 2%;
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 600;
}

#nav{
	width: 50%;
	height: 100%;
	float: right;
	text-align: right;
}

.navItem{
	margin-right: 2%;
	height: 100%;
	width: 40%;
	float: right;
	color: #433f3f;
}

.navItem span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 600;
}

#homeMain{
	height: 90%;
	width: 100%;
}

#startButton{
	margin-left: 20%;
	margin-top: 20%;
	width: 60%;
	height: 60%;
  	background-color: #433f3f;
	color: #70edc3;
	text-align: center;
}

#startButton span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 300;

}

#tutsMain{
	height: 90%;
	width: 100%;
	position: relative;
	top: 10%;
}

.tutSelectFrame{
	margin-top: 5%;
	height: 20%;
	width: 100%;
	margin-bottom: 1%;
}

.tutSelect{
	height: 100%;
	width: 20%;
	margin-left: 10%;
  	background-color: #433f3f;
	color: #70edc3;
	text-align: center;
	float: left;
}

.tutSelect span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 600;

}

.instructionContainer{
	margin-top: 5%;
	height: 80%;
	width: 100%;
	float: left;
	margin-left: 0;

}

.instructions{
	height: 100%;
	width: 50%;
	float: left;
	color: #433f3f;
	margin-left: 0;
}

.instructions span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 400;
}

.markscheme{
	height: 100%;
	width: 45%;
	float: left;
	color: #433f3f;
	margin-left: 5%;
}

.markscheme span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 400;
}

.teacherNotes{
	height: 100%;
	width: 45%;
	float: left;
	color: #433f3f;
	margin-left: 0;
	margin-right: 0%;
}

.teacherNotes span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 400;
}

.linkToTD{
	margin-left: 10%;
	width: 20%;
	height: 10%;
  	background-color: #433f3f;
	color: #70edc3;
	text-align: center;
	float: left;
	margin-bottom: 2%;
}

.linkToTD span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 400;
}

.schemeLink{
	margin-right: 10%;
	width: 20%;
	height: 10%;
  	background-color: #433f3f;
	color: #70edc3;
	text-align: center;
	float: right;
}

.schemeLink span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	font-weight: 400;
}

.result{
	width: 100%;
	height: 100%;
	border: 0;
}

.exercise{
	color:#F52887;
}